			<!-- footer -->
			<div class="footer">
				<div class="footer-grids">
					<div class="footer-top">
						<div class="footer-top-nav">
							<ul>
								<li><a href="{{ STATIC_URL }}about.html">About</a></li>
								<li><a href="{{ STATIC_URL }}press.html">Press</a></li>
								<li><a href="{{ STATIC_URL }}copyright.html">Copyright</a></li>
								<li><a href="{{ STATIC_URL }}creators.html">Creators</a></li>
								<li><a href="{{ STATIC_URL }}#">Advertise</a></li>
								<li><a href="{{ STATIC_URL }}developers.html">Developers</a></li>
							</ul>
						</div>
						<div class="footer-bottom-nav">
							<ul>
								<li><a href="{{ STATIC_URL }}terms.html">Terms</a></li>
								<li><a href="{{ STATIC_URL }}privacy.html">Privacy</a></li>
								<li><a href="{{ STATIC_URL }}#small-dialog4" class="play-icon popup-with-zoom-anim">Send feedback</a></li>
								<li><a href="{{ STATIC_URL }}privacy.html">Policy & Safety </a></li>
								<li><a href="{{ STATIC_URL }}try.html">Try something new!</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- //footer -->
		</div>
		<div class="clearfix"> </div>
	<div class="drop-menu">
		<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu4">
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ STATIC_URL }}#">Regular link</a></li>
		  <li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="{{ STATIC_URL }}#">Disabled link</a></li>
		  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ STATIC_URL }}#">Another link</a></li>
		</ul>
	</div>

	
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  </body>
</html>